{% extends 'index.html' %}
{% block content %} 
    <div class="Container">
        <div class="formContainer">
            <form action="">

                <h1>Masuk ke akun Anda</h1>
                <br>
                <h3>Selamat datang kembali! Pilih metode untuk Login:</h3>

                <button class="ButtonLogin1">Google</button>
                <button class="ButtonLogin2">Facebook</button>
            </form>

        </div>
        <div class="ImageContent">
            <img src="" alt="">
        </div>



    </div>





{% endblock content %}